<li>
  <strong>{{ .item.key }}</strong>{{ if .item.type ne nil }}:

    {{ if not .item.structuredValue }}
      <em>
        {{ if .item.required }}required {{end}}
        (
        {{ if .item.enum }}
          {{ if .item.enum.length eq 1 }}
            {{join .item.enum ", "}}
          {{else}}
            one of {{join .item.enum ", "}}
          {{end}}
        {{else}}
          {{if .item.type eq "array" }}
            array of {{ if isStandardType .item.items }}{{ .item.items }}{{ else }}{{ .item.items.displayName }}{{end}}
          {{ else }}
            {{ .item.type }}
          {{end}}
        {{end}}

        {{ if .item.default or .item.default eq 0 or .item.default eq false }} - default: {{ .item.default }}{{end}}
        {{ if .item.repeat }} - repeat: {{ .item.repeat }}{{end}}
        {{if .item.type eq "string" }}
          {{ if .item.minLength or .item.minLength eq 0 }} - minLength: {{ .item.minLength }}{{end}}
          {{ if .item.maxLength or .item.maxLength eq 0 }} - maxLength: {{ .item.maxLength }}{{end}}
        {{else}}
          {{if .item.minimum or .item.minimum eq 0 }} - minimum: {{ .item.minimum }}{{end}}
          {{if .item.maximum or .item.maximum eq 0 }} - maximum: {{ .item.maximum }}{{end}}
        {{end}}
        {{if .item.pattern }} - pattern: {{ .item.pattern }}{{end}}
        )
      </em>
    {{end}}
  {{end}}

{{ .markdown }}
{{ .item.description }}
{{ .endmarkdown }}

  {{ if .item.annotations.length }}
  <h3>Annotations</h3>
  <ul>
    {{ range $item := .item.annotations }}
      {{ template "item" $item }}
    {{end}}
  </ul>
  {{end}}

  {{ if .item.items and .item.items.properties }}
    {{ if isStandardType .item.items }}
      <p><strong>Items</strong>: {{ .item.items }}</p>
    {{end}}

    {{ if not isStandardType .item.items }}
      <p><strong>Items</strong>: {{ .item.items.displayName }}</p>

      {{ if .item.items.properties or .item.items.examples.length }}
        <div class="items">
          {{ if .item.items.properties }}
            <ul>
              {{ range $item := .item.items.properties }}
                {{ template "item" $item }}
              {{end}}
            </ul>
          {{end}}

          {# Sub-item Examples #}
          {{ $parent := .item.items }}
          {% include "./examples.nunjucks" %}
        </div>
      {{end}}
    {{end}}
  {{end}}

  {{ if .item.properties }}
    <ul>
      {{ range $item := .item.properties }}
        {{ template "item" $item }}
      {{end}}
    </ul>
  {{end}}

  {# Item Examples #}
  {{ $parent := .item }}
  {{template "examples" $parent}}

  {{ if .item.structuredValue }}
    <pre><code>{{ .item.structuredValue | .dump }}</code></pre>
  {{end}}

</li>
