{{ if or .methods (and .description .parentUrl) }}
  <div class="panel panel-white resource-modal">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" href="#panel_{{ .uniqueId }}">
          <span class="parent">{{ .parentUrl }}</span>{{ .relativeUri }}
        </a>

        <span class="methods">
          {{ range $method := .methods }}
            <a href="#{{ .uniqueId }}_{{ .method }}"><!-- modal shown by hashchange event -->
              <span class="badge badge_{{ .method }}">{{ .method }}{{ if len .securedBy }} <span class="glyphicon glyphicon-lock" title="Authentication required"></span>{{end}}</span>
            </a>
          {{end}}
        </span>
      </h4>
    </div>

    <div id="panel_{{ .uniqueId }}" class="panel-collapse collapse">
      <div class="panel-body">
        {{ if .parentUrl }}
          {{ if .description }}
            <div class="resource-description">
{{ .description }}
            </div>
          {{end}}
        {{end}}

        <div class="list-group">
          {{ range $method := .methods }}
            <div onclick="window.location.href = '#{{ .uniqueId }}_{{ $method.method }}'" class="list-group-item">
              <span class="badge badge_{{ $method.method }}">{{ $method.method }}{{ if len $method.securedBy }} <span class="glyphicon glyphicon-lock" title="Authentication required"></span>{{end}}</span>
              <div class="method_description">
{{ $method.description}}
              </div>
              <div class="clearfix"></div>
            </div>
          {{end}}
        </div>
      </div>
    </div>

    {{ range $method := .methods }}
      <div class="modal fade" tabindex="0" id="{{ .uniqueId }}_{{ .method }}">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">
                <span class="badge badge_{{ .method }}">{{ .method }}{{ if len .securedBy }} <span class="glyphicon glyphicon-lock" title="Authentication required"></span>{{end}}</span>
                <span class="parent">{{ .parentUrl }}</span>{{ .relativeUri }}
              </h4>
            </div>

            <div class="modal-body">
              {{ if .description }}
                <div class="alert alert-info">
{{ .description}}
                </div>
              {{end}}

                {{ if len $method.securedBy }}
                {{ range $securedBy := $method.securedBy }}
                  {{ if $securedBy }}
                    <div class="alert alert-warning">
                      {{ $securityScheme := index .securitySchemes $securedBy.schemeName }}
                      <span class="glyphicon glyphicon-lock" title="Authentication required"></span>
                      Secured by <b>{{$securityScheme.displayName}}</b>
                      {{ if $securedBy.scopes }}
                        with scopes:
                        <ul>
                          {{ range $scope := $securedBy.scopes }}
                            <li>{{$scope}}</li>
                          {{end}}
                        </ul>
                      {{end}}
                      {{ if $securityScheme.description }}
{{ $securityScheme.description }}
                      {{end}}
                    </div>
                  {{end}}
                {{end}}
              {{end}}

              <!-- Nav tabs -->
              <ul class="nav nav-tabs">
                {{ if or (len $method.allUriParameters) (or $method.queryString (or $method.queryParameters (or $method.headers $method.body))) }}
                  <li class="active">
                    <a href="#{{ .uniqueId }}_{{ $method.method }}_request" data-toggle="tab">Request</a>
                  </li>
                {{end}}

                {{ if $method.responses }}
                  <li{{if and (not (len $method.allUriParameters)) (and (not $method.queryParameters) (and (not $method.queryString) (and (not $method.headers) (not $method.body))))}}class="active"{{end}}>
                    <a href="#{{ .uniqueId }}_{{ $method.method }}_response" data-toggle="tab">Response</a>
                  </li>
                {{end}}

                {{ if len $method.securedBy }}
                  <li>
                    <a href="#{{ .uniqueId }}_{{ $method.method }}_securedby" data-toggle="tab">Security</a>
                  </li>
                {{end}}
              </ul>

              <!-- Tab panes -->
              <div class="tab-content">
                {{ if or (len $method.allUriParameters) (or $method.queryString (or $method.queryParameters (or $method.headers $method.body))) }}
                  <div class="tab-pane active" id="{{ .uniqueId }}_{{ $method.method }}_request">
                    {{ if len $method.allUriParameters }}
                      <h3>URI Parameters</h3>
                      <ul>
                        {{ range $item := .allUriParameters }}
                        {{template "item" $item }}
                        {{end}}
                      </ul>
                    {{end}}

                    {{ if len $method.annotations }}
                      <h3>Annotations</h3>
                      <ul>
                        {{ range $item := $method.annotations }}
                          {{template "item" $item }}
                        {{end}}
                      </ul>
                    {{end}}

                    {{ if len $method.headers }}
                      <h3>Headers</h3>
                      <ul>
                        {{range $item := $method.headers}}
                        {{template "item" $item }}
                        {{end}}
                      </ul>
                    {{end}}

                    {{ if and $method.queryString (len $method.queryString) }}
                      <h3>Query String</h3>
                      <ul>
                        {{ range $item := $method.queryString }}
                          {{template "item" $item }}
                        {{end}}
                      </ul>
                    {{end}}

                    {{ if len $method.queryParameters }}
                      <h3>Query Parameters</h3>
                      <ul>
                        {{ range $item := $method.queryParameters }}
                          {{template "item" $item }}
                        {{end}}
                      </ul>
                    {{end}}

                    {{ if $method.body }}
                      <h3>Body</h3>
                      {{ range $b :=$method.body }}
                        <p><strong>Media type</strong>: {{ .b.key }}</p>

                        {{ if $b.type }}
                          {{ if isStandardType $b.type }}
                            {{ if $b.type eq "array" and $b.items }}
                              <p><strong>Type</strong>: array of {{ if isStandardType $b.items }}{{ .b.items }}{{else}}{{ .b.items.displayName }}{{end}}</p>
                            {{ else if and (eq $b.type "union") (len $b.anyOf) }}
                              <p><strong>Possible types</strong>:
                                <ul>
                                  {{ range $super := $b.anyOf }}
                                    <li>
                                      <p><strong>{{ $super.displayName }}</strong></p>
                                      <div class="items">
                                        <ul>
                                          {{ range $item := $super.properties }}
                                            {{template "item" $item }}
                                          {{end}}
                                        </ul>
                                      </div>
                                    </li>
                                  {{end}}
                                </ul>
                              </p>
                            {{else}}
                              <p><strong>Type</strong>: {{ .b.type }}</p>
                            {{end}}
                          {{else}}
                            <p><strong>Type</strong>:</p>
                            <pre><code>{{ .b.type | .escape }}</code></pre>
                          {{end}}
                        {{end}}

                        {{ if $b.content }}
                          <p><strong>Content</strong>:</p>
                          <pre><code>{{ $b.content | .escape }}</code></pre>
                        {{end}}

                        {{ if $b.items and $b.items.properties }}
                          {{ if isStandardType $b.items }}
                            <p><strong>Items</strong>: {{ $b.items }}</p>
                          {{end}}

                          {{ if not isStandardType $b.items }}
                            <p><strong>Items</strong>: {{ $b.items.displayName }}</p>

                            {{ if or $b.items.properties (len $b.items.examples) }}
                              <div class="items">
                                {{ if $b.items.properties }}
                                  <ul>
                                    {{ range $item := $b.items.properties }}
                                      {{template "item" $item }}
                                    {{end}}
                                  </ul>
                                {{end}}

                                {# Request - Array item examples #}
                                {{template "examples" $b.items}}
                              </div>
                            {{end}}
                          {{end}}
                        {{end}}

                        {{ if len $b.properties }}
                          <strong>Properties</strong>
                          <ul>
                            {{ range $item := $b.properties }}
                              {{template "item" $item }}
                            {{end}}
                          </ul>
                        {{end}}

                        {# Request - Body examples #}
                        {{ template "examples" $b}}
                      {{end}}
                    {{end}}
                  </div>
                {{end}}

                {{ if $method.responses }}
                  <div class="tab-pane{{if and (not (len $method.allUriParameters)) (and (not (len $method.queryParameters)) (and (not $method.queryString) (and (not (len $method.headers)) (and (not (len $method.body))))))}} active{{end}}" id="{{ .uniqueId }}_{{ .method }}_response">
                    {{ range $response := $method.responses }}
                      <h2>HTTP status code <a href="http://httpstatus.es/{{ $response.code }}" target="_blank">{{ $response.code }}</a></h2>
{{ $response.description }}

                      {{ if $response.headers.length }}
                        <h3>Headers</h3>
                        <ul>
                          {{ range $item := $response.headers }}
                            {{template "item" $item }}
                          {{end}}
                        </ul>
                      {{end}}

                      {{ if $response.body.length }}
                        <h3>Body</h3>
                        {{ range $b := $response.body }}
                          <p><strong>Media type</strong>: {{ $b.key }}</p>

                          {{ if $b.type }}
                            {{ if isStandardType $b.type }}
                              {{ if eq $b.type "array" and $b.items }}
                                <p><strong>Type</strong>: array of {{ if isStandardType $b.items }}{{ $b.items }}{{else}}{{ $b.items.displayName }}{{end}}</p>
                              {{ else if eq $b.type "union" and $b.anyOf.length }}
                                <p><strong>Possible types</strong>:
                                  <ul>
                                    {{ range $super := $b.anyOf }}
                                      <li>
                                        <p><strong>{{ $super.displayName }}</strong></p>
                                        <div class="items">
                                          <ul>
                                            {{ range $item := $super.properties }}
                                              {{template "item" $item }}
                                            {{end}}
                                          </ul>
                                        </div>
                                      </li>
                                    {{end}}
                                  </ul>
                                </p>
                              {{else}}
                                <p><strong>Type</strong>: {{ $b.type }}</p>
                              {{end}}
                            {{else}}
                              <p><strong>Type</strong>:</p>
                              <pre><code>{{ $b.type | .escape }}</code></pre>
                            {{end}}
                          {{end}}

                          {{ if $b.content }}
                            <p><strong>Content</strong>:</p>
                            <pre><code>{{ $b.content | .escape }}</code></pre>
                          {{end}}

                          {{ if $b.items and $b.items.properties }}
                            {{ if isStandardType $b.items }}
                              <p><strong>Items</strong>: {{ $b.items }}</p>
                            {{end}}

                            {{ if not isStandardType $b.items }}
                              <p><strong>Items</strong>: {{ $b.items.displayName }}</p>

                              {{ if $b.items.properties or $b.items.examples.length }}
                                <div class="items">
                                  {{ if $b.items.properties }}
                                    <ul>
                                      {{ range $item := $b.items.properties }}
                                        {{template "item" $item }}
                                      {{end}}
                                    </ul>
                                  {{end}}

                                  {# Response - Array item examples #}
                                  {{ template "examples" $b.items.examples}}
                                </div>
                              {{end}}
                            {{end}}
                          {{end}}

                          {{ if $b.properties.length }}
                            <strong>Properties</strong>
                            <ul>
                              {{ range $item := $b.properties }}
                                {{template "item" $item }}
                              {{end}}
                            </ul>
                          {{end}}

                          {# Response - Body examples #}
                          {{ template "examples" $b }}
                        {{end}}
                      {{end}}
                    {{end}}
                  </div>
                {{end}}

                {{ if len $method.securedBy }}
                  <div class="tab-pane" id="{{ .uniqueId }}_{{ .method.method }}_securedby">
                    {{ range $securedBy := $method.securedBy }}
                      {{ $securityScheme := index .securitySchemes $securedBy.schemeName }}
                      <h1>Secured by {{ $securityScheme.displayName }}</h1>

                      {{ if $securityScheme.describedBy.headers.length }}
                        <h3>Headers</h3>
                        <ul>
                          {{ range $item := $securityScheme.describedBy.headers }}
                            {{template "item" $item}}
                          {{end}}
                        </ul>
                      {{end}}

                      {{ if $securityScheme.describedBy.queryParameters.length }}
                        <h3>Query Parameters</h3>
                        <ul>
                          {{ range $item := $securityScheme.describedBy.queryParameters }}
                            {{template "item" $item}}
                          {{end}}
                        </ul>
                      {{end}}

                      {{ range $response := $securityScheme.describedBy.responses }}
                        <h2>HTTP status code <a href="http://httpstatus.es/{{ $response.code }}" target="_blank">{{ $response.code }}</a></h2>
{{ $response.description }}
                        {{ if $response.headers.length }}
                          <h3>Headers</h3>
                          <ul>
                            {{ range $item := $response.headers }}
                              {{template "item" $item}}
                            {{end}}
                          </ul>
                        {{end}}

                        {{ if $response.body.length }}
                          <h3>Body</h3>
                          {{ range $b := $response.body }}
                            <p><strong>Media type</strong>: {{ $b.key }}</p>

                            {{ if $b.type }}
                              {{ if isStandardType $b.type }}
                                {{ if eq $b.type  "array" and $b.items }}
                                  <p><strong>Type</strong>: array of {{ if isStandardType $b.items }}{{ $b.items }}{{else}}{{ $b.items.displayName }}{{end}}</p>
                                {{ else if eq $b.type "union" and $b.anyOf.length }}
                                  <p><strong>Possible types</strong>:
                                    <ul>
                                      {{ range $super := $b.anyOf }}
                                        <li>
                                          <p><strong>{{ $super.displayName }}</strong></p>
                                          <div class="items">
                                            <ul>
                                              {{ range $item := $super.properties }}
                                              {{template "item" $item}}
                                              {{end}}
                                            </ul>
                                          </div>
                                        </li>
                                      {{end}}
                                    </ul>
                                  </p>
                                {{else}}
                                  <p><strong>Type</strong>: {{ $b.type }}</p>
                                {{end}}
                              {{else}}
                                <p><strong>Type</strong>:</p>
                                <pre><code>{{ $b.type | .escape }}</code></pre>
                              {{end}}
                            {{end}}

                            {{ if $b.content }}
                              <p><strong>Content</strong>:</p>
                              <pre><code>{{ $b.content | .escape }}</code></pre>
                            {{end}}

                            {{ if $b.items and $b.items.properties }}
                              {{ if isStandardType $b.items }}
                                <p><strong>Items</strong>: {{ $b.items }}</p>
                              {{end}}

                              {{ if not isStandardType $b.items }}
                                <p><strong>Items</strong>: {{ $b.items.displayName }}</p>

                                {{ if $b.items.properties or $b.items.examples.length }}
                                  <div class="items">
                                    {{ if $b.items.properties }}
                                      <ul>
                                        {{ range $item := $b.items.properties }}
                                        {{template "item" $item}}
                                        {{end}}
                                      </ul>
                                    {{end}}

                                    {# Response - Array item examples #}
                                      {{template "examples" $b.items.examples}}
                                  </div>
                                {{end}}
                              {{end}}
                            {{end}}

                            {{ if $b.properties.length }}
                              <strong>Properties</strong>
                              <ul>
                                {{range $item := $b.properties }}
                                  {{template "item" $item}}
                                {{end}}
                              </ul>
                            {{end}}

                            {# Response - Body examples #}
                            {{ $parent := $b }}
                            {{template "examples" $parent }}
                          {{end}}
                        {{end}}

                      {{end}}

                    {{end}}
                  </div>
                {{end}}
              </div>
            </div>
          </div>
        </div>
      </div>
    {{end}}
  </div>
{{end}}

{{range $resource := .resources }}
  {{template "resource" $resource }}
{{end}}
